* {
  box-sizing: border-box;
}
.popSpring {
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 10;
}
.main-nav {
  z-index: 5;
  position: relative;
}
.little-logo {
  height: 40px;
  width: 200px;
  z-index: 11;
}
h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
.main-nav {
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.wip {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid #dadada;
  background-color: #dadada;
}
