#global-container {
  display: flex;
  height: 100vh;
}
#main-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  padding: 10px;
  flex: 1;
  background-color: #343633;
}

#left-main-footer {
  padding: 10px;
}
#main-content-right {
  text-align: center;
  margin: 0 auto;
  /* border: 5px solid coral; */
  /* height: auto; */
  flex: 5;
  overflow: auto;
}
#top-nav {
  float: right;
}
a {
  color: #343633;
}
a:hover {
  text-decoration: underline;
}

#sidebar-heading {
  color: #59abe3;
}
#left-main-footer {
  color: #b1a6a6;
}
.link-text {
  padding: 2px;
}
.link-text:hover {
  color: #59abe3;
}
