#global-container {
  display: flex;
  height: 100vh;
}
#main-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  padding: 10px;
  flex: 1;
  background-color: #343633;
}

#left-main-footer {
  padding: 10px;
}
#main-content-right {
  text-align: center;
  margin: 0 auto;
  /* border: 5px solid coral; */
  /* height: auto; */
  flex: 6;
  overflow: auto;
  /* background-color: #f3eee2; */
  background-color: whitesmoke;
}

#top-nav {
  float: right;
}
#lang-nav {
  display: flex;
  z-index: 5;
  right: 2rem;
  top: 0rem;
  position: fixed;
  border-radius: 2px;
}
a {
  color: #343633;
}
a:hover {
  text-decoration: underline;
}

#sidebar-heading {
  color: #59abe3;
}
#left-main-footer {
  color: #b1a6a6;
}
.link-text {
  padding: 2px;
}
.link-text:hover {
  color: #59abe3;
}
ul {
  padding-left: 0;
}
#contactMe {
  font-size: larger;
}
#index-h1 {
  display: block;
  padding: 1rem;
  color: white;
  font-size: 3rem;
  background: black;
  border-radius: 5px;
  mix-blend-mode: multiply;
}
@media screen and (max-width: 992px) {
  #main-sidebar {
    display: none;
  }
}
.top-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
